:root {
  --black-bean: #3c1518;
  --blood-red: #69140e;
  --brown: #a44200;
  --bronze: #d58936;
  --vanilla: #f2f3ae;
  --white: #ffffff;
  --avatar: #823b19;
  --black: #000000;

  --color-primary: var(--black-bean);
  --color-secondary: var(--blood-red);
  --color-accent: var(--bronze);
  --color-background: var(--vanilla);
  --color-text: var(--brown);
  --color-avatar: var(--avatar);
  --color-border: rgba(60, 60, 60, 0.12);
  --color-border-hover: rgba(60, 60, 60, 0.29);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-bean);
    --color-text: var(--vanilla);
    --color-border: rgba(84, 84, 84, 0.48);
    --color-border-hover: rgba(84, 84, 84, 0.65);
  }
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-accent);
}

.v-application {
  background-color: var(--color-accent) !important;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-accent);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}