@use '../styles/variables' as vars;

:root {
  --color-primary: #{vars.$color-primary};
  --color-secondary: #{vars.$color-secondary};
  --color-accent: #{vars.$color-accent};
  --color-background: #{vars.$color-background};
  --color-surface: #{vars.$color-surface};
  --color-text: #{vars.$color-text};
  --color-avatar: #{vars.$color-avatar};
  --color-black: #{vars.$color-black};
  --color-border: rgba(80, 80, 80, 0.08);
  --color-border-hover: rgba(80, 80, 80, 0.2);
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-accent);
}

.v-application {
  background-color: var(--color-accent) !important;
}


* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-accent);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}